#content1{
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;

}
#content2{
  background-color: red;
  padding:20px 10px 20px 10px;
}
#content3{
  background-color: blue;
}
body{
  background-color: black;
}
